[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/CmdlineComplete"]
	path = bundle/CmdlineComplete
	url = https://github.com/vim-scripts/CmdlineComplete.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/mru"]
	path = bundle/mru
	url = https://github.com/yegappan/mru.git
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim-phpqa"]
	path = bundle/vim-phpqa
	url = https://github.com/joonty/vim-phpqa.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/MatchTagAlways"]
	path = bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways.git
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/GoldenView.Vim"]
	path = bundle/GoldenView.Vim
	url = https://github.com/zhaocai/GoldenView.Vim.git
[submodule "bundle/vim-expand-region"]
	path = bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/vim-move"]
	path = bundle/vim-move
	url = https://github.com/matze/vim-move
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/Vim-fugitive"]
	path = bundle/Vim-fugitive
	url = https://github.com/tpope/Vim-fugitive
[submodule "bundle/screen"]
	path = bundle/screen
	url = https://github.com/ervandew/screen.git
[submodule "ctrlp-funky"]
	path = bundle/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/agit.vim"]
	path = bundle/agit.vim
	url = https://github.com/cohama/agit.vim.git
[submodule "bundle/open-browser.vim"]
	path = bundle/open-browser.vim
	url = https://github.com/tyru/open-browser.vim.git
[submodule "bundle/open-browser-github.vim"]
	path = bundle/open-browser-github.vim
	url = https://github.com/tyru/open-browser-github.vim.git
[submodule "bundle/nerdtree-execute"]
	path = bundle/nerdtree-execute
	url = https://github.com/ivalkeen/nerdtree-execute.git
[submodule "bundle/vim-isort"]
	path = bundle/vim-isort
	url = https://github.com/fisadev/vim-isort.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/ack.vim"]
	path = bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/vim-jinja"]
	path = bundle/vim-jinja
	url = https://github.com/mitsuhiko/vim-jinja.git
[submodule "bundle/vim-erlang-runtime"]
	path = bundle/vim-erlang-runtime
	url = https://github.com/vim-erlang/vim-erlang-runtime.git
[submodule "bundle/vim-erlang-compiler"]
	path = bundle/vim-erlang-compiler
	url = https://github.com/vim-erlang/vim-erlang-compiler.git
[submodule "bundle/vim-erlang-omnicomplete"]
	path = bundle/vim-erlang-omnicomplete
	url = https://github.com/vim-erlang/vim-erlang-omnicomplete.git
[submodule "bundle/vim-erlang-tags"]
	path = bundle/vim-erlang-tags
	url = https://github.com/vim-erlang/vim-erlang-tags.git
[submodule "bundle/vim-erlang-spec"]
	path = bundle/vim-erlang-spec
	url = https://github.com/akalyaev/vim-erlang-spec.git
[submodule "bundle/vim-erlang-skeletons"]
	path = bundle/vim-erlang-skeletons
	url = https://github.com/vim-erlang/vim-erlang-skeletons.git
[submodule "bundle/vim-ref"]
	path = bundle/vim-ref
	url = https://github.com/thinca/vim-ref.git
[submodule "bundle/vim-numbertoggle"]
	path = bundle/vim-numbertoggle
	url = https://github.com/jeffkreeftmeijer/vim-numbertoggle.git
[submodule "bundle/ctrlp-modified.vim"]
	path = bundle/ctrlp-modified.vim
	url = https://github.com/jasoncodes/ctrlp-modified.vim.git
