[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/CmdlineComplete"]
	path = bundle/CmdlineComplete
	url = https://github.com/vim-scripts/CmdlineComplete.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/mru"]
	path = bundle/mru
	url = https://github.com/yegappan/mru.git
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "vim-phpqa"]
	path = bundle/vim-phpqa
	url = https://github.com/joonty/vim-phpqa.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/MatchTagAlways"]
	path = bundle/MatchTagAlways
	url = https://github.com/Valloric/MatchTagAlways.git
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/GoldenView.Vim"]
	path = bundle/GoldenView.Vim
	url = https://github.com/zhaocai/GoldenView.Vim.git
[submodule "bundle/vim-expand-region"]
	path = bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/vim-move"]
	path = bundle/vim-move
	url = https://github.com/matze/vim-move
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/Vim-fugitive"]
	path = bundle/Vim-fugitive
	url = https://github.com/tpope/Vim-fugitive
[submodule "bundle/screen"]
	path = bundle/screen
	url = https://github.com/ervandew/screen.git
[submodule "ctrlp-funky"]
	path = bundle/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/agit.vim"]
	path = bundle/agit.vim
	url = https://github.com/cohama/agit.vim.git
